// auto generate code, dont edit it
package <proto_package>

import (
    "gateway/pkg/monitor"
    "gateway/proto/<proto_folder>"
    "strconv"
    
    "github.com/gin-gonic/gin"
    "go.elastic.co/apm/v2"
)

type <handler_name_lower_1st>Handler struct {
}

func New<handler_name>Handler() *<handler_name_lower_1st>Handler {
    return &<handler_name_lower_1st>Handler{}
}

// @Summary <summary>
// @Tags <tags>
// @Produce json
<param_declarations>
// @Param body  body  <proto_package>.<request_type> true "Body example"
// @Success 200 {object} <proto_package>.<response_type>
// @Router <path> [post]
func (handler *<handler_name_lower_1st>Handler) Handle(ctx *gin.Context) (interface{}, error) {
    monitor.SetApmContext(apm.DetachedContext(ctx.Request.Context()))
    data := <proto_package>.<request_type>{}
    if err := ctx.BindJSON(&data); err != nil {
        return nil, err
    }
<param_parsings>
    return &data, nil
}
